@if (currentUser?.result?.length) {
<div class="results-container">
  @for (res of results; track $index) {

  <div class="result-card">
    <h3>Exam ID: {{ res.examID }}</h3>
    <p><strong>Score:</strong> {{ res.score }} / {{ res.total }}</p>
    <p>
      <strong>Status:</strong>
      <span [class.passed]="res.passed" [class.failed]="!res.passed">
        {{ res.passed ? "Passed" : "Failed" }}
      </span>
    </p>
    <p><strong>Submitted:</strong> {{ res.submittedAt | date : "medium" }}</p>
  </div>
  }
</div>
} @else {
<p>No exam results found.</p>
}
