.activeLink {
  color: #ff4e59 !important;
}

.nav-color {
  background-color: #fff;
  color: hsl(0, 0%, 31%);
}

nav a {
  color: hsl(0, 0%, 31%);
}

.py-20 {
  padding: 20px 0;
}

.border-b {
  border-bottom: 1px solid #e4e6e5;
}

.fixed-nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100000;
  animation: goFullHeight 1s;
  box-shadow: 0 -20px 20px 8px;
}

@keyframes goFullHeight {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.nav-user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-user-info .nav-link {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

.nav-user-info button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.logoutBtn,.signupBtn, .loginBtn{
  border-radius: 6px;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.logoutBtn {
  color: #ffffff !important;
  background: #ff4e59 !important;
}
.signupBtn{
  color: #ffffff !important;
  background: #367a6c;
}
.loginBtn {
  color: #367a6c !important;
  border: 3px solid #367a6c;
}