<div class="exam-container">
  @if (isLoading) {
  <div class="loading-state">Loading exam...</div>
  } @else {
  <form>
    @for (question of questions; track question._id) {
    <div class="question-card">
      <h3>{{ question.questionText }}</h3>

      <div class="options-container">
        @for (option of question.options; track $index) {
        <label
          class="option"
          [class.selected]="isSelected(question._id, $index)"
        >
          <input
            type="radio"
            [name]="'q_' + question._id"
            [value]="$index"
            (change)="selectAnswer(question._id, $index)"
          />
          <span class="option-letter">{{ optionsLetters[$index] }}</span>
          {{ option }}
        </label>
        }
      </div>
    </div>
    }

    <app-exam-timer
      [currentExam]="currentExam"
      [submitAnswers]="handleAutoSubmit"
    >
    </app-exam-timer>

    <button
      type="submit"
      [disabled]="!isFormComplete()"
      class="btn btn-bg"
      (click)="submitAnswers($event)"
    >
      Submit Answers
    </button>
  </form>
  }
</div>
