<section>
    <div  class="container  mt-5">

        <div class=" row flex-column flex-md-row align-items-center justify-content-between " style="margin-bottom: 100px;">
            <div class="left col-sm-12 col-md-6 col-lg-6">
                <img  src="/about-1.png" class="img-fluid leftImg" />
            </div>
            <div class="right col-sm-12 col-md-6 col-lg-6 ">
                <span class="pageName" >About Us</span>
                <h2 class="mainTitle">Improve Your Skills Learn With Us From Anywhere</h2>
                <div class="underlineBottom">  <img src="line-ab-2.svg" /> </div>
                <p class="desc">Rapidiously iterate enabled meta-services vis-a-vis world-class quality vectors. Collaboratively recaptiualize proof
                relationships via ubiquitous leadership skills.</p>
                <div class="d-flex flex-column  features" >
                    <div class="d-flex">
                        <i class="bi bi-bookmark-check-fill"></i>
                        <h4>Skilled and experienced coaches.</h4>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-bookmark-check-fill"></i>
                        <h4>35K+ review with 5 star rating</h4>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-bookmark-check-fill"></i>
                        <h4>30 Days Free Trial</h4>
                    </div>
                </div>
                <button class="aboutBtn mt-5">About More</button>
            </div>
        </div>

        <div class=" row flex-column flex-md-row align-items-center justify-content-between " style="margin-top: 100px;">
            <div class="left col-sm-12 col-md-6 col-lg-6">

                <div>
                    <span class="pageName">Why Choose Us</span>
                    <h2 class="mainTitle">We Have Best Tutors & Feels Like Real Classroom</h2>
                    <div class="underlineBottom"> <img src="line-ab-2.svg" /> </div>
                </div>

                <div class="d-flex flex-column  features">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="d-flex">
                            <i class="bi bi-bookmark-check-fill"></i>
                            <h4>Skilled and experienced coaches.</h4>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-bookmark-check-fill"></i>
                            <h4>35K+ review with 5 star rating</h4>
                        </div>
                    </div>
                    <div class="d-flex  flex-column flex-md-row justify-content-between">
                        <div class="d-flex">
                            <i class="bi bi-bookmark-check-fill"></i>
                            <h4>Skilled and experienced coaches.</h4>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-bookmark-check-fill"></i>
                            <h4>35K+ review with 5 star rating</h4>
                        </div>
                    </div>
                </div>
                <button class="aboutBtn mt-5">About More</button>

            </div>

            <div class="right col-sm-12 col-md-6 col-lg-6 ">
                <img src="/about-2.png"  class="img-fluid leftImg"/>
            </div>
        </div>

    </div>
</section>
